@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
    --primaryColor: hsl(220, 98%, 61%);
    --secondaryColor: hsl(0,0%,94%);
    --mainBG: ;
    /* Light Mode */
    --veryLightGray: hsl(0, 0%, 98%);
    --veryLightGrayishBlue: hsl(236, 33%, 92%);
    --lightGrayishBlue: hsl(233, 68%, 60%);
    --darkGrayishBlue: hsl(236, 9%, 61%);
    --veryDarkGrayishBlue: hsl(235, 19%, 35%);

    /* Dark Mode */
    --veryDarkBlue: hsl(235, 21%, 11%);
    --veryDarkDesaturatedBlue: hsl(235, 24%, 19%);
    --lightGrayishBlue: hsl(234, 39%, 85%);
    /* hover : hsl(236, 33%, 92%); */
    --darkGrayishBlue: hsl(234, 11%, 52%);
    --veryDarkGrayishBlue: hsl(237, 14%, 26%);
    --checkBG: linear-gradient(45deg, #0089AB, #7616A6);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 48
}

body {
    width: 100vw;
    height: 100vh;
    font-size: 18px;
}

.container {
    width: 100%;
    height: 150px;
}

.container-mobile-light {
    background-image: url('../images/bg-mobile-light.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;

    
}

.container-mobile-dark {
    background-image: url('../images/bg-mobile-dark.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* .container-desktop-light {
    width: 100%;
    height: 150px;
    background-image: url('../images/bg-desktop-light.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.container-desktop-dark {
    width: 100%;
    height: 150px;
    background-image: url('../images/bg-desktop-dark.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: fixed;
} */

header {
    width: 50%;
    margin: 0 auto;
    height: 50px;
    padding: 30px;
    position: relative;
}

/* @media screen only (min-width: 1000px) {
    width: 50%;
} */

header h1 {
    letter-spacing: 4px;
    display: inline;
    float: left;
    position: absolute;
    left: 0;
    color: var(--secondaryColor);
    font-weight: bold;
}

header .moon-icon {
    position: absolute;
    cursor: pointer;
    right: 0;
    background: none;
    border: none;
    display: inline;
    float: left;
    padding-top: 10px;
}

header .sun-icon {
    cursor: pointer;
    display: none;
    position: absolute;
    right: 0;
    float: left;
    padding-top: 10px;
    background: none;
    border: none;
}

.form-input {
    margin: 20px auto;
    text-align: center;
    position: relative;
    width: 50%;
    height: 50px;
    border-radius: 10px;
} */

.form-dark {
    background-color: hsl(234,23%,19%);
    border: 1px solid hsl(234,23%,19%);
    color: hsl(236,10%,35%);
}

::-webkit-input-placeholder{
    color: black;
}

.form-icon {
    position: absolute;
    top: 14px;
    left: 15px;
  }
  
.form-text {
    height: 100%;
    width: 100%;
    font-size: 1.2rem;
    border: none;
    padding-left: 40px;
    color: black;
    border-radius: 10px;
    text-transform: capitalize;
}

.form-text:hover {
    border: none;
}

main {
    margin: 20px auto;
    width: 50%;
    border-radius: 10px;
}


.main-light {
    background-color: var(--secondaryColor);
    border: 1px solid var(--secondaryColor);
    color: hsl(0,0%,0%);
}

.main-dark {
    background-color: hsl(234,23%,19%);
    border: 1px solid hsl(234,23%,19%);
    color: white;
}

.filters-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    align-content: center;
    padding: 15px;
}

svg path{
    fill: #3A539B;
}


.filters {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* Icons Styling */
/* 
.icon::before{
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.circle::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    padding-top: 3px;
    content: "\f111";
    margin-right: 8px;
    position: relative;
} */

.cross::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    padding-top: 3px;
    content: "\f00d";
    right: 30px;
}

.check::before{
    position: absolute;
    content: url(../images/icon-check.svg);
    bottom: 6px;
    left: 6px;
}

.paragraph-text {
    text-decoration: line-through;
}

.icon {
    background-image: var(--checkBG);
    border: 3px solid var(--checkBG);
    object-fit: fill;
    /* font-size: 22px; */
    border-radius: 50%;
    height: auto;
}


.todoList-light {
    border-bottom: 1px solid black;
    padding: 15px;
    /* color: black; */
    
}

.todoList-dark{
    border-bottom: 1px solid white;
    padding: 15px;
    /* color: white; */
}

.filters > p:hover {
    font-size: 20px;
    color: hsl(205,52%,52%);
    cursor: pointer;
}



.filters-box > p:nth-of-type(2):hover {
    color: hsl(205,52%,52%);
    cursor: pointer;
    font-size: 20px;
}

/* f111 bullets */

/* Footer */
.attribution { 
        position: relative;
        top: 10%;
        font-size: 16px; 
        text-align: center;
        margin-top: 30px;
 }
.attribution a { 
    color: #00AA55; 
}

/* Media Queries */
@media only screen and (min-width: 700px) {
    .container-mobile-light {
        background-image: url('../images/bg-desktop-light.jpg');
    }
    
    .container-mobile-dark {
        background-image: url('../images/bg-desktop-dark.jpg');
    }
}

@media only screen and (min-width: 701px) and (max-width: 900px) {
    header, .form-input, main {
        width: 60%;
    }
}


@media only screen and (min-width: 600px) and (max-width: 700px) {
    header, .form-input, main {
        width: 70%;
    }
}

@media only screen and (min-width: 470px) and (max-width: 599px) {
    header, .form-input, main {
        width: 80%;
    }

}

@media only screen and (min-width: 395px) and (max-width: 469px) {
    header, .form-input, main {
        width: 90%;
    }

}

@media only screen and (max-width: 394px) {
    header, .form-input, main {
        width: 95%;
    }

}